.deps
*.o
.dirstamp
Makefile
Makefile.in
addons/lib7zip/Lib7Zip
addons/lib7zip/includes/C
addons/lib7zip/includes/CPP
*.a
*~
autom4*
m4*
ar-lib
compile
config.guess
config.h
config.log
config.status
config.sub
depcomp
install-sh
libtool
ltmain.sh
missing
src/wxReadBook
stamp-h1
wxReadBook
wxreadbook.desktop
