#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.3.0
Encoding=UTF-8
Name=EBook Reader
Name[zh_CN]=电子书阅读器
Exec=/home/angelstone/.program/bin/wxReadBook 
Terminal=false
Icon=/home/angelstone/.program/wxreadbook/wxreadbook.png
Type=Application
Categories=Application;Utility;Editor
